body {
  margin: 0;
  font-family: Times New Roman;
  background: white;
}

.header {
  background: green;
  color: white;
  padding: 15px;
}

.container {
  display: flex;
  gap: 15px;
  padding: 15px;
}

.menu {
  width: 20%;
}

.menu-item {
  background: lightgray;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.menu a{
  display: block;
  text-decoration: none;
  color: black;
}

.menu a:hover, .menu a:focus, .menu a:active{
  background: seagreen;
  color: white
}

.content {
  width: 55%;
}

.sidebar {
  width: 25%;
  background: dodgerblue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.footer {
  margin: 15px;
  padding: 10px;
  background: #ddd;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .menu { width: 30%; }
  .content { width: 65%; }
  .sidebar { width: 100%; }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .menu,
  .content,
  .sidebar {
    width: 100%;
  }
}
}
